//for body styling
$primary: #355764;
$secondary: white;
$gray-900: #adb5bd;
$success: #F3B95F;





@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";